/*----------Navigation------------*/

.nav-section{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 120px;
    background-color: #4F756B;
}

.nav-container{
    display: flex;
    position: relative;
    float: left;
    height: 100%;
}

.kit-brand {
    display: flex;
    position: relative;
    max-height: 100px;
    font-family: 'Gochi Hand', cursive;
    font-size: 64px;
    font-weight: 100;
    padding: 15px;
}

.kit-brand span {
    display: inline-block;
    position: relative;
    margin-left: 40px;
    padding-top: 30px;
    font-size: 32px;
    color: white;
    text-align: center;
}

.kit-brand a {
    display: inline-block;
    position: relative;
    float: left;
    margin-left: 30px;
    color: #EF6F6C;
    text-decoration: none;
    font-size: 80px;
}

/*-------------Dropdown Tab section--------------*/

.tabs {
    display: block;
    position: absolute;
    z-index: 1;
    height: 30px;
    background-color: transparent;
    margin: auto;
    text-align: center;
}

.tab {
    display: inline-block;
    float: top;
    z-index: 1;
    width: 80px;
    height: 30px;
    border-radius: 0px 0px 15px 15px;
    color: white;
}

.filters-tab {
    background-color: #90AFA2;
}

.about-tab {
    background-color: #FE7F2D;
}

.contact-tab {
    background-color: #EF6F6C;
}

/*------------Slideshow-----------*/

.slideshow-section {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background-color: red;
}

.slideshow-container{
    display: flex;
    position: relative;
    width: 100%;
    background-size: cover;
    background-color: blue;
}

.slides {
    display: block;
    position: relative;
}

.slides img {
    position: relative;
    width:100%;
    height:auto;
    max-height:100%;
    object-fit: cover;
}

/*-----------Google Map-----------*/

.map-section {
    display: block;
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
}

.map-container {
    display: inline-block;
    width: 80%;
    margin: auto;
}

#map {
    height: 400px;
    width: 100%;
}

/*-----------Main Body-------------*/

body {
    margin: 0 0 0 0;
    display: block;
    position: relative;
    float: left;
}

/*-----------Filters---------------*/

.tab-container {
    display: none;
    position: relative;
    float: left;
    width: 100%;
    padding: 20px;
}

.filters-container{
    background-color: #90AFA2;
}

.about-container {
    background-color: #FE7F2D;
    padding: 50px 100px;
}

.about-container p {
    color: white;
    font-family: 'Gochi Hand', cursive;
    font-size: 18px;
    font-weight: normal;
}

.contact-container {
    background-color: #EF6F6C;
}

.button {
    font-family: 'Nunito', sans-serif !important;
    padding: 5px;
    border: solid;
    border-color:#EF6F6C;
    border-radius: 15px;
    background-color: #EF6F6C;
    margin: 3px;
}

.button-desc {
    padding-left: 10px;
}

.highlight {
    background-color: lime;
}

.button-desc{
    color: white;
}

i {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}


/*-----------Activities------------*/


/*------------New activity section----------------*/

.main-section {
    display: block;
    position: relative;
    float: left;
    max-width: 100%;
    margin-top: 20px;
}

.activity-section {
    display: block;
    position: relative;
    min-height: 300px;
    max-height: 300px;
    border-bottom: 2px solid #4F756B;
  width: 80%;
    margin: auto;
    margin-top: 20px;
}

.activity img {
    margin-right: 25px;
    float: left;
}

.activity {
    display: block;
    overflow: hidden;
    max-height:280px;
}

.activity p {
    max-height: 180px;
    padding-top: 15px;
      background: -webkit-linear-gradient(top, black 70%, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.activity h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #4F756B !important;
    padding-top: 10px;
}

.activity-icons-container {
    color: #EF6F6C !important;
}
.activity-icons {
    display: inline-block;
    position: relative;
}

.activity-icons i {
    color: #EF6F6C!important;
    display: inline-block;
    position: relative;
    float: left;
    text-align: center;
    font-size: 10px !important;
    height: 20px;
    width: 20px;
    color: #4F756B;
    border: solid 2px;
    border-color: #EF6F6C;
    border-radius: 50%;
    padding: 2px 2px;
}

.activity p {
    font-family: 'Nunito', sans-serif !important;
    font-size: 18px;
}

.more-info {
  position: absolute;
  z-index: 1;
  bottom: 0%;
  right: 0%;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #EF6F6C !important;
  border-color: white !important;
  border-radius: 15px !important;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  padding: 5px;
  border-radius: 15px;
}


/*----------------Modals-----------------*/

.modal-content {
    padding: 50px;
    font-family: 'Nunito', sans-serif !important;
}

.modal-dialog {
    margin-top: 100px !important;
    max-width: 80% !important;
}

.modal-header {
    border-bottom:2px solid #EF6F6C !important;
}

.modal-footer {
    border-top:2px solid #EF6F6C !important;
}

.modal-header h5 {
    font-weight: bold;
    font-size: 24px;
}

.modal-body p {
    margin-top: 10px;
}

.modal-image {
    position: relative;
    width: 400px;
    height: 267px;
}

.slide-image {
    display: none;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.prev i,
.next i {
    color: #EF6F6C !important;
    font-size: 36px !important;
}

.prev,
.next {
    display: block;
    position: absolute;
    width: auto;
    padding: 15px;
    top: 40%;
    background-color: transparent;
}
.next {
    right: 0;
}

.prev:hover,
.next:hover {
    opacity: 0.6;
}

.font-awesome {
    display: inline-block;
    position: relative;
    float: left;
    text-align: center;
    font-size: 16px !important;
    height: 35px;
    width: 35px;
    color: #4F756B;
    border: solid 2px;
    border-color: #4F756B;
    border-radius: 25px;
    padding: 6px;
    margin: 0;
}

.font-awesome i {
    color: #4F756B;
}

.facilities {
    display: inline-block;
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: black;
    margin-left: 10px;
}

.facilties-container {
    display: block;
    position: relative;
    float: left;
    margin: 10px 10px;
}

/*---------Visible for info only - remove from site---------*/
.icons-section {
    display: block;
    position: relative;
    width: 100%;
    margin: auto;
}

td > i {
    color: black;
    display: inline-block;
    position: relative;
    float: left;
    text-align: center;
    font-size: 16px !important;
    height: 35px;
    width: 35px;
    color: #4F756B;
    border: solid 2px;
    border-color: #4F756B;
    border-radius: 25px;
    padding: 6px 4px;
}

table {
    border: none !important;
}

th {
    border: none !important;
}

td {
    border: none !important;
    padding: 3px !important;
}

/*-------------------Footer------------------*/

.footer-section{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 120px;
    background-color: #FE7F2D;
    margin-top: 50px;
}

.footer-container{
    display: flex;
    position: relative;
    float: left;
    height: 100%;
}