/*----------Navigation------------*/

.kit{
    display: inline-block;
}
.tag-line{
    display: inline-block;
}


/*-----------Google Map-----------*/

#map {
    height: 400px;
    width: 100%;
}

/*-----------Main Body-------------*/

.body{
    margin-top: 60px;
}

/*-----------Filters---------------*/

.btn {
    font-family: 'Nunito', sans-serif;
    border: solid;
    border-color: white;
    border-radius: 15px;
}

.filters-container{
    border: solid;
    border-color: blue;
    background-color: lightblue;
    max-width: 100%;
}

.filter-section {
    margin: 10px;
}

.red {
    background-color: red;
}

/*-----------Activities------------*/

.activity {
    font-family: 'Nunito', sans-serif;
    font-weight: 2em;
    display: inline-block;
    border: solid;
    border-color: blue;
    border-radius: 15px;
    background-color: white;
    height: 250px;
    width: 350px;;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.activities-container {
    align-content: center;
    margin: 20px;
    padding-left: 50px;
    padding-right: 50px;

}

